
# Lab 2
**Duration:** ~2 hours

**Topics covered (only these):**
- Lists: creating, accessing, slicing; methods `append`, `extend`, `insert`, `pop`, `remove`, `sort`
- List comprehension
- Tuples: declaration, immutability, use cases; tuple unpacking; `zip()` basics
- Sets: creating, uniqueness, membership with `in`, `add`, `remove`, `discard`; de‑duplication use cases; set ops `union`, `intersection`, `difference`, `symmetric_difference`
- Dictionaries: creating/accessing key‑value pairs; `get`, `items`, `keys`, `values`; updating & deleting; `in` operator; nested dictionaries
- Dictionary comprehension (basic intro)

**Instructions:** Each exercise is stated in a markdown cell, followed by an empty code cell for your solution. You may use loops and conditionals when useful.

# Lists: Creating, Accessing, Slicing

**Exercise 1:** Create a list `nums` containing 1 through 5 and print the first and last elements.

**Exercise 2:** Given `letters = ['a','b','c','d','e']`, slice to get ['b','c','d'] and print it.

**Exercise 3:** Reverse a list using slicing and print the result.

**Exercise 4:** From `nums = list(range(10))`, print every 2nd element starting from index 1 using slicing.

**Exercise 5:** Replace the middle two elements of `[1,2,3,4,5]` with `[99,100]` using slicing assignment and print the list.

# List Methods: append(), extend(), insert(), pop(), remove(), sort()

**Exercise 1:** Start with `x = [3,1,4]`. Append 2, extend with [5,9], then print x.

**Exercise 2:** Using `x = [10, 20, 30]`, insert 15 at index 1, then print x.

**Exercise 3:** From `x = [7,8,9]`, pop the last element, store it in `last`, and print both `last` and `x`.

**Exercise 4:** Remove the first occurrence of 2 from `x = [1,2,3,2,4]` and print x.

**Exercise 5:** Sort `x = [3,1,4,1,5]` in ascending order in-place and print it.

**Exercise 6:** Given `names = ['bob','Alice','dave']`, sort case-insensitively (without creating a new list) and print it.

# List Comprehension

**Exercise 1:** Create a list of squares for numbers 1..10 using a list comprehension and print it.

**Exercise 2:** From `nums = [1,2,3,4,5,6]`, build a list of only even numbers using a comprehension.

**Exercise 3:** Given `words = ['apple','kiwi','banana']`, create a list with the lengths of each word using a comprehension.

**Exercise 4:** Build a list `pairs` of tuples `(n, n*n)` for n=1..5 using a comprehension and print it.

# Tuples: Declaration, Immutability, Use Cases

**Exercise 1:** Create a tuple `t` with elements (1, 'a', True) and print its length.

**Exercise 2:** Create a tuple of the first 5 even numbers and print it.

**Exercise 3:** Demonstrate tuple immutability by trying to modify one element and observing the error (commented code), then print a message confirming immutability.

# Tuple Unpacking and zip() Basics

**Exercise 1:** Unpack the tuple `(10, 20, 30)` into variables a, b, c and print them.

**Exercise 2:** Given `coords = [(1,2),(3,4),(5,6)]`, loop with tuple unpacking to print `x*y` for each pair.

**Exercise 3:** Using `names = ['Ana','Ben']` and `scores = [90, 85]`, use zip() to pair and print `Ana:90`, `Ben:85`.

# Sets: Creating, Membership, add(), remove(), discard(), Use in De-duplication

**Exercise 1:** Create a set from the list `[1,2,2,3,3,3]` to remove duplicates and print it.

**Exercise 2:** Check membership: print whether 3 is in the set `{1,2,3}` using `in`.

**Exercise 3:** Start with empty set `s = set()`. Add 10, then remove 10, then safely discard 10 again, and print the set each time.

**Exercise 4:** Given `data = [1,1,2,2,3,4,4]`, produce a de-duplicated list preserving original order using a set for membership check; print the result.

*Hint:* Use a loop and a seen set.

# Set Operations: union(), intersection(), difference(), symmetric_difference()

**Exercise 1:** Let `a={1,2,3}` and `b={3,4}`. Print union, intersection, difference (a-b), symmetric difference.

**Exercise 2:** Given `a={1,2,3,4}` and `b={2,4,6}`, print sorted list of elements that are in exactly one of the sets.

**Exercise 3:** Using sets, count how many common letters exist between the strings 'banana' and 'bandana'.

# Dictionaries: Creating, Accessing, get(), items(), keys(), values()

**Exercise 1:** Create a dictionary `student` with keys `name`, `age`, `score` and print name and score.

**Exercise 2:** Use `get()` to safely access a non-existing key `grade` from the above dict with default 'NA' and print it.

**Exercise 3:** Loop through `items()` of `student` and print `key=value` on each line.

**Exercise 4:** Print the list of keys and the list of values of `student`.

# Updating, Deleting Entries; `in` Operator; Nested Dictionaries

**Exercise 1:** Start with `d={'x':1, 'y':2}`. Update `y` to 20 and add `z:3`, then print d.

**Exercise 2:** Delete key `x` from `d`, if it exists, using `pop()` with a default to avoid errors; print the removed value and the dict.

**Exercise 3:** Check if key `age` is present in `student = {'name':'Avi','score':88}` using `in` and print the result.

**Exercise 4:** Create a nested dictionary for two students with keys as roll numbers and values as dictionaries of `name` and `score`. Access and print the score for roll 102.

# Dictionary Comprehension (Basic Intro)

**Exercise 1:** Build a dictionary mapping numbers 1..5 to their squares using a comprehension and print it.

**Exercise 2:** From `words = ['apple','bee','kiwi']`, create a dict mapping each word to its length.

**Exercise 3:** Filter with comprehension: from `nums=range(10)`, keep only odd numbers as keys, value as their cubes.

# Applied Logic with Collections (Loops/Conditionals Allowed)

**Exercise 1:** Given a list of integers, produce a dictionary counting occurrences of each integer (like a frequency map) without using external modules; print the result for `[1,2,2,3,3,3]`.

**Exercise 2:** Given two lists `a=[1,2,3,4]` and `b=[2,4,6,8]`, compute the sorted list of common elements using sets (no duplicates).

**Exercise 3:** You have `people = ['Ana','Ben','Cara']` and `scores = [92, 85, 92]`. Use zip() to pair them and build a dict; if a name repeats, keep the higher score.